USE [QuanLy]
GO
/****** Object:  Table [dbo].[Bann]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bann](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Bann] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaMon] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[MaSP] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danhsach]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danhsach](
	[Mamon] [int] NOT NULL,
	[Tenmon] [nvarchar](100) NOT NULL,
	[Donvi] [nvarchar](50) NOT NULL,
	[Manhom] [int] NOT NULL,
	[Dongia] [int] NOT NULL,
	[Ghichu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Danhsach] PRIMARY KEY CLUSTERED 
(
	[Mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[MaBan] [int] NULL,
	[NgayLap] [datetime] NULL,
	[NhanVien] [nvarchar](50) NULL,
	[Thue] [decimal](18, 2) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonn]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonn](
	[MaHD] [int] NULL,
	[MaBan] [int] NULL,
	[NgayLap] [datetime] NULL,
	[NhanVien] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[Thue] [decimal](18, 2) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[TenSP] [nvarchar](50) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[MaSP] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan_VaiTro]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan_VaiTro](
	[MaTK] [int] NOT NULL,
	[MaVT] [int] NOT NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoann]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoann](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Nhom] [nvarchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_TaiKhoann] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thucan]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thucan](
	[Maloai] [int] IDENTITY(1,1) NOT NULL,
	[Tenloaimonan] [nvarchar](100) NOT NULL,
	[Loai] [int] NOT NULL,
 CONSTRAINT [PK_Thucan] PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 30/10/2025 1:03:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVT] [int] NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bann] ON 

INSERT [dbo].[Bann] ([MaBan], [TenBan], [MoTa], [TrangThai], [Active]) VALUES (1, N'Bàn 1', N'Khu A', N'Đang trống', 1)
INSERT [dbo].[Bann] ([MaBan], [TenBan], [MoTa], [TrangThai], [Active]) VALUES (2, N'Bàn 2', N'Khu A', N'Đang sử dụng', 0)
INSERT [dbo].[Bann] ([MaBan], [TenBan], [MoTa], [TrangThai], [Active]) VALUES (3, N'Bàn 3', N'Khu B', N'Đang trống', 1)
SET IDENTITY_INSERT [dbo].[Bann] OFF
GO
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SoLuong]) VALUES (1, 2, 2)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SoLuong]) VALUES (1, 4, 1)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SoLuong]) VALUES (2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [MaMon], [SoLuong], [DonGia], [MaSP]) VALUES (1, 1, 1, 2, CAST(25000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [MaMon], [SoLuong], [DonGia], [MaSP]) VALUES (2, 1, 3, 1, CAST(15000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [MaMon], [SoLuong], [DonGia], [MaSP]) VALUES (3, 2, 2, 1, CAST(45000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
INSERT [dbo].[Danhsach] ([Mamon], [Tenmon], [Donvi], [Manhom], [Dongia], [Ghichu]) VALUES (1, N'Mực hấp', N'Đĩa ', 1, 70000, N'')
INSERT [dbo].[Danhsach] ([Mamon], [Tenmon], [Donvi], [Manhom], [Dongia], [Ghichu]) VALUES (2, N'Sò lông nướng mỡ hành', N'Đĩa', 1, 80000, N'')
INSERT [dbo].[Danhsach] ([Mamon], [Tenmon], [Donvi], [Manhom], [Dongia], [Ghichu]) VALUES (3, N'Càng cua hấp', N'Đĩa', 1, 75000, N'')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [TongTien], [GiamGia], [MaBan], [NgayLap], [NhanVien], [Thue], [Active]) VALUES (1, CAST(N'2025-10-28T00:00:00.000' AS DateTime), CAST(70000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [TongTien], [GiamGia], [MaBan], [NgayLap], [NhanVien], [Thue], [Active]) VALUES (2, CAST(N'2025-10-29T00:00:00.000' AS DateTime), CAST(75000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[HoaDonn] ([MaHD], [MaBan], [NgayLap], [NhanVien], [TongTien], [Thue], [GiamGia], [Active]) VALUES (1, 2, CAST(N'2025-10-29T10:30:00.000' AS DateTime), N'Nguyễn Văn A', CAST(105000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[HoaDonn] ([MaHD], [MaBan], [NgayLap], [NhanVien], [TongTien], [Thue], [GiamGia], [Active]) VALUES (2, 3, CAST(N'2025-10-28T09:00:00.000' AS DateTime), N'Lê Thị B', CAST(80000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[HoaDonn] ([MaHD], [MaBan], [NgayLap], [NhanVien], [TongTien], [Thue], [GiamGia], [Active]) VALUES (3, 1, CAST(N'2025-10-27T15:45:00.000' AS DateTime), N'Ngô Văn C', CAST(60000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0)
GO
INSERT [dbo].[SanPham] ([TenSP], [DonGia], [MaSP]) VALUES (N'Cà Phê sữa', CAST(25000.00 AS Decimal(18, 2)), N'1         ')
INSERT [dbo].[SanPham] ([TenSP], [DonGia], [MaSP]) VALUES (N'Trà sữa trân châu', CAST(35.00 AS Decimal(18, 2)), N'2         ')
INSERT [dbo].[SanPham] ([TenSP], [DonGia], [MaSP]) VALUES (N'Bánh mì thịt', CAST(20000.00 AS Decimal(18, 2)), N'3         ')
GO
INSERT [dbo].[TaiKhoan_VaiTro] ([MaTK], [MaVT], [Active]) VALUES (1, 1, 1)
INSERT [dbo].[TaiKhoan_VaiTro] ([MaTK], [MaVT], [Active]) VALUES (1, 2, 1)
INSERT [dbo].[TaiKhoan_VaiTro] ([MaTK], [MaVT], [Active]) VALUES (1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[TaiKhoann] ON 

INSERT [dbo].[TaiKhoann] ([MaTK], [TenDangNhap], [MatKhau], [Nhom], [Active]) VALUES (1, N'admin', N'123456', N'Admin', 1)
INSERT [dbo].[TaiKhoann] ([MaTK], [TenDangNhap], [MatKhau], [Nhom], [Active]) VALUES (2, N'nhanvien1', N'123456', N'NhanVien', 1)
INSERT [dbo].[TaiKhoann] ([MaTK], [TenDangNhap], [MatKhau], [Nhom], [Active]) VALUES (3, N'letuan', N'123456', N'Nhanvien', 0)
SET IDENTITY_INSERT [dbo].[TaiKhoann] OFF
GO
SET IDENTITY_INSERT [dbo].[Thucan] ON 

INSERT [dbo].[Thucan] ([Maloai], [Tenloaimonan], [Loai]) VALUES (1, N'Hải sản', 1)
INSERT [dbo].[Thucan] ([Maloai], [Tenloaimonan], [Loai]) VALUES (3, N'Nước ngọt', 0)
INSERT [dbo].[Thucan] ([Maloai], [Tenloaimonan], [Loai]) VALUES (5, N'Bia', 0)
SET IDENTITY_INSERT [dbo].[Thucan] OFF
GO
INSERT [dbo].[VaiTro] ([MaVT], [TenVaiTro], [MoTa], [Active]) VALUES (1, N'Quantrihethong', N'Toàn Quyền hệ thống', 1)
INSERT [dbo].[VaiTro] ([MaVT], [TenVaiTro], [MoTa], [Active]) VALUES (2, N'QuanLynhanvien', N'Quản lý thông tin nhân viên', 1)
INSERT [dbo].[VaiTro] ([MaVT], [TenVaiTro], [MoTa], [Active]) VALUES (3, N'QuanLyHoaDon', N'Thêm, sửa, xóa hóa đơn', 1)
GO
